<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button dfaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item>
     <ion-label>Nombre</ion-label>
     <ion-input [(ngModel)]="productos.nombre" type="text" placeholder="Producto"></ion-input>
   </ion-item>

   <ion-item>
    <ion-label>Precio</ion-label>
    <ion-input [(ngModel)]="productos.precio"  type="text" placeholder="Precio"></ion-input>
  </ion-item>

  <ion-item>
  <ion-button >
    Foto
  </ion-button>
  </ion-item>
 </ion-list>

 <ion-button (click)="uploadP()" expand="full" shape="round">
   Add
 </ion-button>

 <ion-button [routerLink]="['/productos']" expand="full" shape="round">
  Ver tus productos
</ion-button>
</ion-content>
