<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input [(ngModel)]="user.email"  type="text" placeholder="Email"></ion-input>
    </ion-item>


     <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input [(ngModel)]="user.password" type="password" placeholder="Password"></ion-input>
    </ion-item>
  </ion-list>



  <ion-button (click)="login()" expand="full" shape="round">
   Login
  </ion-button>
  <ion-button [routerLink]="['/register']" expand="full" shape="round">
    Registrar
   </ion-button>
  
</ion-content>
